body {
    font-family: sans-serif;
}

.container{
    background-color: #EFF5FF;
    height: 53px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.box{
    display: inline-block;
    padding-left: 30px;
    color: #8D8E92;
    
}

#connection{
    display: flex;
    align-items: center;
    margin-right: 30px;
    }

.second{
    background-color: red;
    height: 75px;
    box-sizing: content-box;
    
}

body{
    margin: 0px;
}
#third{
    text-align: right;
}

i{
    margin-left: 10px;
    color: #0463FA;
}

#social{
    display: inline-flex;
    align-items: center;
    font-size: 25px;
    padding-right: 35px;
}
h1{
    color: #0463FA;
    margin-left: 30px;
    box-sizing: border-box;
}


ul{
    margin-left: 15px;
    display: flex;
    text-align: center;
    list-style-type: none;
}

li{
    padding-right: 15px;
}

.active a{
    color: #0463FA;
}



nav{
    height: 75px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown{
    display: inline-block;
}

.dropbtn{
    font-size: 16px;
    background: none;
    border-style: none;
    background-color: none;
    
   
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

  .dropdown-content a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 30px;
    
  }

  .dropdown-content a:hover {background-color: #fff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fff;}

a{
    text-decoration: none;
}

.ap{
    background-color: #0463FA;
    height: 75px;
    padding: 24px 48px;
    border: none;
    color: #fff;
    
}

.buttons{
    align-items: center;
    display: flex;
}

.fa-right-long{
    color: #fff;
}

.fa-chevron-down{
    color: black;
}

.tonton{
    width: 100%;
    min-height: 300px;
    background-color: #0463FA;
    display: flex;
}

.text{
    width: 50%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
}

.picture{
    position: relative;
    width: 50%;
}

.picture img{
    width: 100%;
}

.picture span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
    font-weight: bold;
}

.pambiq {
    font-size: 56px;
    color: #fff;
    font-weight: bold;
}

.golden {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.jerry {
    border-left: 1px solid #fff;
    padding-left: 20px;
}

.jerry h6 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.jerry span {
    color: #fff;
}